[Unit]
Description=Draw.io
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/plantuml:latest
ContainerName=plantuml
Pod=plantuml.pod

EnvironmentFile=%h/.env.plantuml

PublishPort=127.0.0.1:3040:8080

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
