[Unit]
Description=Forgejo Git Service
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/forgejo:latest
ContainerName=forgejo
Pod=forgejo.pod

EnvironmentFile=%h/.env.forgejo

Volume=forgejo-data:/data

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
