[Unit]
Description=Forgejo Git Service
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/forgejo:latest
ContainerName=forgejo

EnvironmentFile=%h/.env.forgejo

PublishPort=127.0.0.1:3000:3000
# 2222 SSH 端口不方便反代，且 SSH 本身足够安全，直接监听所有网口即可
PublishPort=2222:22

Volume=forgejo-data:/data

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
