[Unit]
Description=Vaultwarden Password Manager
After=network-online.target

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden
DNS=10.8.0.1
DNS=1.1.1.1

Environment=TZ=Asia/Shanghai
Environment=DOMAIN=https://vw.daveny.top

Volume=vaultwarden-data.volume:/data/

Network=homelab.network

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
