[Unit]
Description=Vaultwarden Password Manager
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/vaultwarden:latest
ContainerName=vaultwarden

EnvironmentFile=%h/.env.vaultwarden

PublishPort=127.0.0.1:3010:80

Volume=vaultwarden-data.volume:/data/

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
