[Unit]
Description=Vaultwarden Password Manager
After=network-online.target

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden

Environment=TZ=Asia/Shanghai
Environment=DOMAIN=https://vw.daveny.top

Volume=vaultwarden-data.volume:/data/

[Service]
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
