[Unit]
Description=Vaultwarden Password Manager
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/vaultwarden:latest
ContainerName=vaultwarden
Pod=vaultwarden.pod

EnvironmentFile=%h/.env.vaultwarden

Volume=vaultwarden-data.volume:/data/

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
