[Unit]
Description=Nginx Proxy Manager
After=network-online.target

[Container]
Image=docker.io/jc21/nginx-proxy-manager:latest
ContainerName=nginx-proxy-manager

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Asia/Shanghai

Volume=nginx-proxy-manager-data.volume:/data
Volume=nginx-proxy-manager-letsencrypt.volume:/etc/letsencrypt

Network=homelab.network

PublishPort=80:80
PublishPort=81:81
PublishPort=443:443

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
