[Unit]
Description=Backup Podman Volumes to S3
After=network-online.target podman.socket

[Service]
Type=oneshot

Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/%h/containerized-service/.env

WorkingDirectory=%h/containerized-service/utils/podman-volumes-backup
ExecStart=/opt/workbench/bin/uv run main.py

Restart=on-failure
RestartSec=3600