[Unit]
Description=Forgejo CI/CD Runner
After=forgejo.service

[Container]
Image=code.forgejo.org/forgejo/runner:12
ContainerName=forgejo-runner
DNS=10.8.0.1
DNS=1.1.1.1

SecurityLabelDisable=true
UserNS=keep-id

Environment=TZ=Asia/Shanghai
Environment=DOCKER_HOST=unix:///var/run/docker.sock
Environment=FORGEJO_INSTANCE_URL=http://forgejo:3000
Environment=FORGEJO_RUNNER_REGISTRATION_TOKEN=NkHzCDW3aDVkoG5omOtPEEXb0fUMJeaHvZSGn56VGif

Network=homelab.network

Volume=forgejo-runner-data.volume:/data
# 把宿主机的 podman socket 挂载进容器的 docker socket 路径
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock
# Runner 的启动脚本
Volume=%h/homelab/forgejo-runner/command.sh:/command.sh:Z

Exec=/bin/bash /command.sh

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
