[Unit]
Description=Draw.io
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/drawio:latest
ContainerName=drawio

PublishPort=127.0.0.1:8080:8080
PublishPort=127.0.0.1:8443:84443

Environment=TZ=Asia/Shanghai

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
