[Unit]
Description=Draw.io
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/drawio:latest
ContainerName=drawio
Pod=drawio.pod

EnvironmentFile=%h/.env.drawio

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
