[Unit]
Description=Caddy Reverse Proxy Gateway
After=network-online.target

[Container]
Image=localhost/temp:temp
ContainerName=caddy-gateway

PublishPort=80:80
PublishPort=443:443

Volume=/home/user/downloads/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=caddy-data.volume:/data

EnvironmentFile=/home/user/downloads/caddy/caddy.env

[Service]
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=default.target
