[Unit]
Description=Caddy Reverse Proxy Gateway
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/caddy:latest
ContainerName=caddy-gateway

EnvironmentFile=%h/caddy/.env.caddy

Network=host
PublishPort=80:80
PublishPort=443:443

Volume=%h/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=caddy-data.volume:/data

[Service]
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=default.target
