name: gitea

services:
    # 1. Gitea 代码托管平台主体
    server:
        image: gitea/gitea:latest
        restart: always
        environment:
            # 配置 UID 与 GID，避免权限问题
            - USER_UID=${PUID:-1000}
            - USER_GID=${PGID:-1000}
            # 配置 HTTP 代理，用于加速从 Github 拉取仓库
            - HTTP_PROXY=172.18.0.1:7890
            - HTTPS_PROXY=172.18.0.1:7890
            # 配置 NO_PROXY 防止内部通信走代理
            - NO_PROXY=localhost,127.0.0.1,.local,::1,gitea,db
            # 时区信息
            - TZ=${TIMEZONE:-Asia/Shanghai}
        networks:
            - gitea_net
        volumes:
            - ${DATA_DIR:-.}/gitea_data:/data
        ports:
            # Web 界面端口
            - "3000:3000"
            # Git SSH 端口
            - "2222:22"

    # 2. act_runner CI 执行器 Runner
    runner:
        image: gitea/act_runner:latest
        restart: always
        depends_on:
            - server
        networks:
            - gitea_net
        environment:
            - TZ=${TIMEZONE:-Asia/Shanghai}
            - GITEA_INSTANCE_URL=http://server:3000
            - CONFIG_FILE=/data/config.yaml
            - GITEA_RUNNER_REGISTRATION_TOKEN=kb44snt9PHmedBdB7HyAmw66vYkAbU4gT8vEEd8g
        volumes:
            - ${DATA_DIR:-.}/runner_data:/data
            - /var/run/docker.sock:/var/run/docker.sock

networks:
    gitea_net:
        name: gitea_net
        external: false
