name: wireguard-vpn

services:
    wg-client:
        build: ./wireguard
        restart: always
        network_mode: host
        cap_add:
            - NET_ADMIN
            - SYS_MODULE
        volumes:
            - ${DATA_DIR}/wg0.conf:/etc/wireguard/wg0.conf:ro

    keepalive:
        build: ./keepalive
        depends_on:
            - wg-client
        restart: always
        network_mode: host
        volumes:
            - ${DATA_DIR}/keepalive.conf:/etc/keepalive.conf:ro