name: wireguard-vpn

services:
    wg-server:
        build: .
        restart: always
        network_mode: host
        cap_add:
            - NET_ADMIN
            - SYS_MODULE
        volumes:
            - ${DATA_DIR}/wg0.conf:/etc/wireguard/wg0.conf:ro
        command: start.sh
    
    dns:
        image: 4km3/dnsmasq
        depends_on:
            - wg-server
        restart: always
        network_mode: host
        cap_add:
            - NET_ADMIN
        volumes:
            - ${DATA_DIR}/wg0-dnsmasq.conf:/etc/dnsmasq.conf:ro
