name: minecraft-blessing-skin

services:
    app:
        build:
            context: .
            args:
                - UID=${PUID}
                - GID=${PGID}
        restart: always
        user: ${PUID:-1000}:${PGID:-1000}
        volumes:
            - ${DATA_DIR}/plugins:/app/plugins
            - ${DATA_DIR}/skin:/app/skin
            - ${DATA_DIR}/storage:/app/storage
            - ${DATA_DIR}/.env:/app/.env
            - ${DATA_DIR}:/data
            - /etc/localtime:/etc/localtime:ro

    redis:
        image: redis:alpine
        restart: always
        volumes:
            - /etc/localtime:/etc/localtime:ro

    nginx:
        image: nginx:latest
        restart: always
        ports:
            - "25580:80"
        volumes:
            - ${DATA_DIR}/nginx.app.conf:/etc/nginx/conf.d/app.conf:ro
