[Unit]
Description=Excalidraw Collaboration Service
After=network-online.target

[Container]
Image=ghcr.io/hiromuraki/containerized-service/excalidraw-collab:latest
ContainerName=excalidraw-collab
Pod=excalidraw.pod

# 固定为 81 端口用于 Pod Publish Ports 映射
PORT=81
EnvironmentFile=%h/.env.excalidraw-collab

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
