name: nginx-proxy-manager

services:
    app:
        image: jc21/nginx-proxy-manager:latest
        restart: always
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
        ports:
            - "80:80"
            - "81:81"
            - "443:443"
        volumes:
            - ${DATA_DIR}/data:/data
            - ${DATA_DIR}/letsencrypt:/etc/letsencrypt
